.git
*.git
**.git
.idea
**.gitignore
.dev
.github

/deploy
!/deploy/nginx/templates/*
!/deploy/php-fpm/entrypoint.sh

storage/app/*
storage/database/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/logs/.gitignore

README.md
